
.card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  gap: 0.2em;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  min-width: 13em;
  min-height: 16em;
  width: fit-content;
  padding: 1em 2em;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0.28);
}

.card-title {
  font-size: 1.5em;
  text-align: center;
}

.card-logo {
  width: 3em;
}

.card-info {
  display: flex;
  align-items: center;
  gap: 2em;
  margin: 0.2em;
}