
#root {
  max-width: 1280px;
  padding: 2rem;
}

.logo {
  height: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.content {
  padding: 2em;
}

.blue {
  color: #02ffff;
}

.pink{
  color: #ff6bff
}

strong {
  font-weight: normal;
}

.liquid-shape {
  filter: drop-shadow(0 0 2em #646cffaa);
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%  ;
  -webkit-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%  ;
  -moz-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%  ;
  -ms-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%  ;
  -o-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%  ;
  animation: liquid 8s ease-in-out infinite;
  -webkit-animation: liquid 8s ease-in-out infinite;
  -webkit-filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes liquid {
  0%{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%  ;
    -webkit-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%  ;
    -moz-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%  ;
    -ms-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%  ;
    -o-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%  ;
    background-size: 100% 100%;
}
50%{
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%  ;
    -webkit-border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%  ;
    -moz-border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%  ;
    -ms-border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%  ;
    -o-border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%  ;
    background-size: 300% 150%;
}
100%{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%  ;
    -webkit-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%  ;
    -moz-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%  ;
    -ms-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%  ;
    -o-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%  ;
    background-size: 100% 100%;
}
}

.cards {
  display: flex;
  gap: 2em;
}

.header-portfolio {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-portfolio {
  font-size: 1.2em;
}

p {
  font-size: 1.1em;
}

.header-portfolio-pic{
  display: flex;
  align-items: flex-end;
}

.header-portfolio-pic-social{
  display: flex;
  gap: 1em;
  margin: 1.6em 0;
  transform: translate(1em);
  -webkit-transform: translate(1em);
  -moz-transform: translate(1em);
  -ms-transform: translate(1em);
  -o-transform: translate(1em);
}

.logo-social-media {
  width: 2em;
  filter: invert(73%) sepia(82%) saturate(510%) hue-rotate(120deg) brightness(78%) contrast(107%);
  -webkit-filter: invert(73%) sepia(82%) saturate(510%) hue-rotate(120deg) brightness(78%) contrast(107%);
}

.logo-cv {
  width: 2.1em;
}

.logo-social-media:hover{
  filter: invert(73%) sepia(82%) saturate(510%) hue-rotate(120deg) brightness(108%) contrast(107%);
  -webkit-filter: invert(73%) sepia(82%) saturate(510%) hue-rotate(120deg) brightness(108%) contrast(107%);
}